@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-900;
}
h1 {
  @apply text-3xl font-extrabold;
}

h2 {
  @apply text-2xl font-bold;
}
input {
  @apply py-1 px-2 rounded-lg;
}

select {
  @apply rounded-lg py-1 px-2;
}

label {
  @apply text-lg;
}

.activeNavItem {
  @apply flex flex-row items-center bg-gray-200 p-1 pl-2 rounded-l-lg mr-0 pr-10 gap-2 text-lg;
}

.inactiveNavItem {
  @apply text-white flex flex-row items-center hover:bg-stone-700 p-1 pl-2 rounded-l-lg mr-0 pr-10 gap-2 text-lg;
}

.btn-1 {
  @apply flex items-center max-w-fit justify-center gap-2 text-lg font-bold border-2 border-black py-1 px-2 rounded-lg hover:bg-gray-300;
}

.btn-green {
  @apply bg-green-600 text-lg py-1 px-2 rounded-lg flex items-center justify-center gap-1;
}

.btn-red {
  @apply bg-red-700 text-lg py-1 px-2 rounded-lg flex items-center justify-center gap-1;
}

.btn-red-small {
  @apply bg-red-700 py-2 px-4 rounded-md flex items-center justify-center gap-1 hover:bg-red-800;
}

.btn-blue-small {
  @apply bg-blue-700 py-2 px-4 rounded-md flex items-center justify-center gap-1 hover:bg-blue-800;
}

.plusIcon {
  @apply rounded-xl w-6 h-6;
}

.projItems {
  @apply flex flex-col;
}

table.primary {
  @apply w-full divide-y divide-gray-200;
}

table.primary thead {
  @apply bg-gray-50;
}

table.primary tbody {
  @apply divide-y divide-gray-200;
}

table.primary tbody tr td {
  @apply px-6 py-2 whitespace-nowrap;
}

table.primary thead tr th {
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}

.my-popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}
.my-popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].my-popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.my-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].my-popup-overlay {
  background: transparent;
}
